*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto , sans-serif;
}

.parent{
    max-width: 930px;
    min-height: 450px;
    background-color: aliceblue;
    display: flex;
    flex-direction:row;
   
    
    border-radius: 10px ;
    margin: 10vh  ;
    box-shadow: inset;

    
}

             /* sidebar styling  */
.sidebar{
    height:500px ;
    width: 300px;
    background-color: rgba(14, 131, 226, 0.925);
    
    margin: 15px 0 10px 10px;
    border-radius: 10px;
    padding: 20px;
    
    
}

.sidebar .name p{
    color: white;
    margin: 20px 0 0  20px;
    font-size: 0.8em;
}

.sidebar .details h2{
color: white;

margin: 30px 0 0 15px;

} 

.details p{
    color: rgb(175, 174, 174);
    margin: 30px 0 0 15px;
    
}

.display{
width: 260px;
height: 200px;
border-radius: 10px;
background-color: blue;
color: white;
margin:15px 2px 0 2px;
padding: 2px;
}

.display p {
    /* text-align: center; */
    padding:10px ;
}

img {
    width: 70px;
    height: 80px ;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
}
.userinfo{
    color: white;
    display: inline-block;
   

}


/* form section */
.rightpanel{
     /* flex: 1;    */
    padding: 20px;
}
.header p , h2{
   margin-top: 40px;
   margin-right:500px;
   line-height: 2em;
   
}
a{
    color: blue;
} 

.header p {
    font-size: 1em;
}
form{margin-top: 20px;}

legend{
color: gray;
font-size: small;
}

/* radio btns */
.project, .design{
    display: inline-block;
    width: 200px;
    height: 40px;
     border: 2px solid #88888893;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    } 

    .project{
        margin-right: 50px;
        
    }

    .radio p {
        color:gray;
        margin-top: 10px;
    }


          /* enter email address */
    
.email,{
    display: block;
    max-width: 460px;
    width:100%;
    height: 40px;
     border: 2px solid #88888893;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: gray;
}


 .password{
    max-width: 460px;
    width: 100%;
    height: 40px;
     border: 2px solid #88888893;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    
} 

 .skills{
    max-width:  460px;
    width: 100%;
    height: 40px;
     border: 2px solid #88888893;
    border-radius: 5px;
    padding: 10px;
     margin-top: 10px;
} 

button{
    width: 200px;
    height: 40px;display:block ;
    margin-top: 10px;
    color: white;
    background-color:rgb(69, 150, 216) ;
    border-radius: 5px;
    text-align:center ;
    border: 1px solid rgb(59, 118, 206);
    cursor: pointer;
}

.login{
    width: 200px;
    height: 50px;
}




@media (max-width:1010px){
    .parent{
        display:flex;
        flex-direction:column;
         width: 100%;
        margin: 0;
    }
   .sidebar{
    width: 100%;
    margin: 0;
    height: auto;
   }
}
